*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: rebeccapurple;
}


.container{
    width: 30rem;
    height: 30rem;
    position: relative;
    overflow: hidden;
}






























